.section-count {
  .countdown {
    font-size: 30px;
    margin-top: -20px;
    font-family: "Quicksand" sans-serif;
  }

  .text-scan {
    font-family: "Quicksand" sans-serif;
    font-size: 30px;
    color: white;
    margin-top: 20px;
  }

  img {
    border-radius: 10px;
  }

  .count-border {
    padding-left: -90px;
    padding-right: -900px;
    padding-bottom: 40px;
    padding-top: 20px;
    border-radius: 20px;
    background-color: #f39189;
    padding: 300px -90px;
  }
}
