.store-sale-products {
  h5 {
    margin-top: 25px;
  }

  .products-price {
    text-decoration: line-through;
    margin-left: 15px;
  }

  .products-price-now {
    color: #0c0d36;
  }

  .products-sale {
    color: #0c0d36;
    margin-left: 8px;
  }
}
